/*   font-family: 'Aboreto', cursive; 
font-family: 'Hind Siliguri', sans-serif; */
:root {
  --primary-color: rgb(15, 31, 15);
  /* rgb(230, 118, 14); */

  --secondary-color: #faf8f5;
  /* #faf8f5; */
  --tertiary-color: #737970;
  /* #737970; */
  --navbar-color: rgb(85, 80, 78);

  --pop-color: rgb(109, 161, 109);
  --box-shadow: 4px 3px 19px -5px rgba(0, 0, 0, 0.25);
  --big-font: "Aboreto", cursive;
  --little-font: "Hind Siliguri", serif;
}

.hero {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 75px 20px;
  background-color: var(--secondary-color);
  text-align: center;
}

.contact-box {
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 30px 30px;
  border-radius: 0;
  background-color: var(--secondary-color);
}

.about-story {
  font-family: var(--little-font), "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  padding: 5px;
  margin: 10px 20px 10px 20px;
  text-align: left;
}
.img {
  margin: 10px 20px 10px 20px;
  text-align: center;
}

h1 {
  font-size: 70px;
  color: var(--primary-color);
  font-family: var(--big-font);
  padding: 10px;
}
h2 {
  font-size: 32px;
  font-family: var(--little-font);
  text-align: center;
  padding-bottom: 30px;
}
h3 {
  font-size: 50;
  font-family: var(--big-font);
  font-weight: 700;
}

.divider {
  padding-top: 30px;
}

.navbar-nav {
  --bs-nav-link-hover-color: var(--tertiary-color);
  --bs-navbar-active-color: #c3d3ea;
}

.navbar-toggler-icon {
  border-radius: 20px 40px;
  background-image: none;
  color: transparent;
  color: #6d6c6d;
}

.navbar {
  --bs-navbar-toggler-border-radius: none;
  --bs-navbar-toggler-focus-width: 0rem;
  --bs-navbar-toggler-transition: box-shadow 0s;
  --bs-navbar-hover-color: var(--tertiary-color);
}

.navbar-brand {
  font-family: var(--big-font);
  font-weight: 500;
  color: var(--secondary-color);
}

.nav-link {
  color: var(--secondary-color);
  font-size: 18px;
}
.nav-link .active {
  color: var(--secondary-color);
}

p {
  font-size: 18px;
  font-family: var(--little-font);
  margin: 2px;
}

.desc {
  padding: 7px;
  text-align: center;
}

.confectionary-buttons {
  text-align: center;
  padding-bottom: 40px;
}

button {
  margin-bottom: 5px;
  text-align: center;
  display: inline;
  padding: 20px 30px;
  font-size: 40px;
  border-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 12px;
  background: rgb(101, 111, 96);
  background: linear-gradient(
    90deg,
    rgb(246, 247, 245) 0%,
    rgb(255, 251, 245) 100%,
    rgb(243, 237, 223) 100%,
    rgb(255, 243, 227) 100%
  );
  opacity: 0.8;
  display: inline-block;
  color: rgb(35, 35, 35);
}

.bottom-buttons {
  border-radius: 5px;
  border: 2px solid rgb(117, 115, 115);
  text-align: center;
  margin: 20px 20px;
  box-shadow: var(--box-shadow);
  font-size: 25px;
  padding: 5px 10px;
}

.bottom-buttons:active {
  box-shadow: 4px 3px 19px -5px rgba(0, 0, 0, 0.75);
  transform: translateY(4px);
}

.bottom-buttons:hover {
  opacity: 0.3;
}

.three-buttons {
  margin-top: 50px;
  box-shadow: var(--box-shadow);
}

.three-buttons:active {
  box-shadow: 4px 3px 19px -5px rgba(0, 0, 0, 0.75);
  transform: translateY(4px);
}

.three-buttons:hover {
  opacity: 0.3;
}

.together {
  font-size: 20px;
}
.title {
  font-size: 30px;
}

a .navbar {
  text-decoration: none;
  color: var(--secondary-color);
}

button a {
  text-decoration: none;
  color: black;
}

.body-text {
  size: 50px;
  color: antiquewhite;
}

footer {
  font-size: 40px;
  display: block;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  text-align: center;
  /* background-color: var(--secondary-color); */
}

.contact-me-button {
  text-align: center;
}

li {
  padding: 15px;
}

.code-display {
  padding: 30px;
}

.code-pic {
  background-color: var(--secondary-color);
  padding: 50px;
}

.confections {
  margin: 5px;
}

.grouping {
  background-color: pink;
}

.design-bg img {
  box-shadow: 0 4px 8px 0 rgba(213, 212, 212, 0.5),
    0 6px 20px 0 rgba(115, 114, 114, 0.3);
  padding: 0px;
  margin-bottom: 5px;
  margin-top: 20px;
}

/* When the screen becomes smaller, change to this: */
@media (max-width: 900px) {
  img {
    display: block;
    align-items: center;
  }

  h1 {
    font-size: 51px;
  }
  h1 .confec {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 25px;
  }
  .about-story {
    font-size: 16px;
  }
  .three-buttons {
    margin-top: 50px;
  }
  .about-hero {
    margin-bottom: 30px;
  }
  ul {
    padding: 10px;
  }
  li {
    margin-top: 20px;
  }
  .contact-pic {
    display: none;
  }
  .contact-box {
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 30px 30px;
    border-radius: 0;
  }
  .design-bg img {
    padding: 0px;
    margin: 0px;
  }
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .code-pic {
    padding: 10px;
  }
}
